<template>
  <div class="md-layout md-alignment-center">
    <div class="md-layout-item md-xsmall-size-100 md-size-50">
      <div class="md-title">
        Choose a Channel
      </div>
      <MdList>
        <MdListItem to="/channel/fabric-general">Fabric General</MdListItem>
        <MdListItem to="/channel/hottub">Hottub</MdListItem>
      </MdList>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  components: {},
  mounted() {
    this.$store.dispatch('setChannel', null);
  }
}
</script>

<style scoped lang="scss">
  .md-title {
    margin: 16px;
  }
</style>
