<template>
    <div class="md-layout md-alignment-center">
        <div class="md-layout-item md-xsmall-size-100 md-size-50">
            <div class="md-title">
                Choose a Date Range
            </div>
            <MdList>
                <MdListItem :to="{ path: `/channel/${channel}/year/2019/quarter/1`}">
                    Q1 2019 - January to March
                </MdListItem>
                <MdListItem :to="{ path: `/channel/${channel}/year/2019/quarter/2`}">
                    Q2 2019 - April to June
                </MdListItem>
                <MdListItem :to="{ path: `/channel/${channel}/year/2019/quarter/3`}">
                    Q3 2019 - July to September
                </MdListItem>
                <MdListItem :to="{ path: `/channel/${channel}/year/2019/quarter/4`}">
                    Q4 2019 - October to December
                </MdListItem>
                <MdListItem :to="{ path: `/channel/${channel}/year/2019/quarter/0`}">
                    2019 - January to December
                </MdListItem>
            </MdList>
        </div>
    </div>
</template>

<script>
  export default {
    name: "Quarter",
    props: ['channel'],
    mounted() {
      this.$store.dispatch('setChannel', this.channel);
    }
  }
</script>

<style scoped lang="scss">
    .md-title {
        margin: 16px;
    }
</style>

