<template>
    <div class="md-layout">
        <div class="md-layout-item md-size-100">
            <div class="md-headline">
                {{ prettyChannel }} quarter {{ quarter }} {{ year }}
            </div>
        </div>
        <div class="md-layout-item md-size-20">
            <MdContent class="emoji-container">
                <MdList>
                    <span class="md-title">Top Emoji</span>
                    <MdListItem v-bind:key="emoji.name" v-for="emoji in emojis">
                        <Emoji :emoji-name="emoji.name"/>
                        <span class="emojiname">{{ emoji.name }}</span>
                        <span>{{ emoji.count }}</span>
                    </MdListItem>
                </MdList>
            </MdContent>
        </div>
        <div class="md-layout-item">
            <MdContent class="users">
                <MdList>
                    <div class="md-title">Emojiest Users</div>
                    <MdListItem v-bind:key="user.id" v-for="(user, index) in users">
                        <User :index="index" :user="user"></User>
                    </MdListItem>
                </MdList>
            </MdContent>
        </div>
    </div>
</template>

<script>
  import Emoji from "../components/Emoji";

  import quartersDictionary from '@/dictionaries/quarters';
  import User from "../components/User";

  export default {
    name: "Stats",
    components: {User, Emoji},
    props: ['channel', 'year', 'quarter'],
    computed: {
      emojis() {
        return this.$store.getters.emoji;
      },
      users() {
        return this.$store.getters.users;
      },
      prettyChannel() {
        return this.$store.getters.prettyChannel;
      },
    },
    async mounted() {
      this.$store.dispatch('setChannel', this.channel);
      this.$store.dispatch('setEmoji', null);
      this.$store.dispatch('setUsers', null);

      const path = `/${quartersDictionary[`${this.channel}-2019-${this.quarter}`]}`;

      this.$store.dispatch('loadData', path);
    },
  }
</script>

<style scoped lang="scss">
    .md-headline {
        padding: 16px;
        text-transform: uppercase;
    }

    .md-title {
        margin: 6px 16px;
    }

    .emoji-container {
        margin-left: 15px;
    }

    .emojiname {
        flex-grow: 1;
        padding: 0 15px 0 10px;
        width: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #666;
    }

    .users {
        margin: 0 15px;
    }
</style>
