<template>
    <div class="emoji">
        <img class="icon icom--custom" v-if="isCustom" :src="customUrl">

        <div class="icon icon--standard" v-else :style="{
            backgroundImage: `url('${backgroundImage}')`,
            backgroundPosition: `${spriteX}px ${spriteY}px`,
            }">
        </div>
        <MdTooltip md-direction="right">{{emojiName}}</MdTooltip>
    </div>
</template>

<script>
  import emojiDictionary from '@/dictionaries/emoji';

  export default {
    name: "Emoji",
    props: ['emojiName'],
    data() {
      return {
        isCustom: null,
        customUrl: null,
        spriteX: 0,
        spriteY: 0,
      }
    },
    mounted() {
      const emoji = emojiDictionary(this.emojiName);
      this.isCustom = emoji.custom;
      this.customUrl = emoji.url || null;
      this.spriteX = emoji.x || null;
      this.spriteY = emoji.y || null;
    },
    computed: {
      backgroundImage() {
        return require('../../node_modules/emoji-datasource/img/apple/sheets/32.png');
      },
    },
  }
</script>

<style scoped>
    .icon {
        display: block;
        width: 32px;
        height: 32px;
    }
</style>
