<template>
    <MdCard>
        <MdCardHeader>
            <div class="position">
                {{ index + 1 }}
            </div>

            <MdCardMedia>
                <img :src="avatar">
            </MdCardMedia>

            <MdCardHeaderText>
                <div class="md-title overflow">{{ user.profile.realName }}</div>
                <div class="md-subhead overflow">{{ user.profile.displayName }}</div>
                <br>
                <div class="md-body-1">Used emoji <strong>{{ user.stats.emojiUsages }}</strong> times</div>
                <div class="md-body-1">Used <strong>{{ user.stats.emojiUsed }}</strong> different emoji</div>
            </MdCardHeaderText>

            <MdCardHeaderText>
                <UserEmojiList :user="user"/>
            </MdCardHeaderText>
        </MdCardHeader>
    </MdCard>
</template>

<script>
  import UserEmojiList from "./UserEmojiList";

  export default {
    name: 'User',
    components: {UserEmojiList},
    props: ['index', 'user'],
    computed: {
      avatar() {
        if (this.user.profile.avatar) {
          return this.user.profile.avatar.replace('original', '48');
        }
        return '';
      },
    },
  }
</script>

<style scoped lang="scss">
    .position {
        width: 30px;
        float: left;
        margin: auto 20px auto 0;
        font-size: 20px;
        text-align: center;
    }

    .md-title {
        margin-top: 0 !important;
    }

    .md-card {
        width: 700px;
    }

    .md-card-media {
        margin: 0 16px 0 0;
    }

    .overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 250px;
    }
</style>
