<template>
    <MdList class="md-dense">
        <MdListItem v-bind:key="emoji.name" v-for="emoji in topEmoji">
            <span class="count">{{ emoji.count }}x</span>
            <span class="emoji"><Emoji :emoji-name="emoji.name"></Emoji></span>
            <span class="name overflow">{{ emoji.name }}</span>
        </MdListItem>
    </MdList>
</template>

<script>
  import Emoji from "./Emoji";
  export default {
    name: 'UserEmojiList',
    components: {Emoji},
    props: {
      user: {}
    },
    computed: {
      topEmoji() {
        return this.user.stats.emoji.slice(0, 3);
      }
    }
  }
</script>

<style scoped lang="scss">
    .count {
        width: 30px;
    }

    .name {
        flex-grow: 1;
    }

    .overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 130px;
    }
</style>
