<template>
  <div id="app">
    <md-toolbar class="md-primary">
      <div class="md-toolbar-section-start">
        <MdButton class="md-title" to="/">Emoji Report</MdButton>
        <MdButton class="md-title" :to="{ path: `/channel/${channel}` }" v-if="channel">{{ channelPretty }}</MdButton>
      </div>
    </md-toolbar>
    <div v-if="isMobile" class="mobile">
      <p>Your device is too small for emojireport.</p>
      <p>You have been forbidden a sub-par experience in favour of no experience at all.</p>
    </div>
    <router-view v-else/>
  </div>
</template>

<script>
  export default {
    name: "App",
    data: function() {
      return {
        isMobile: window.innerWidth < 968,
      }
    },
    computed: {
      channel() {
        return this.$store.getters.channel;
      },
      channelPretty() {
        return this.$store.getters.prettyChannel;
      },
    },
  }
</script>

<style scoped>
  .mobile {
    width: 300px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
  }
  .md-title {
    padding: 4px 16px;
  }
</style>
